html, table, tr, td, div, ul, ol, li, h1, h2, h3, p, a, dd, dt{
	font-family: "Helvetica", sans-serif, "Arial";
}
html, body{ height: 100%; width: 100%; }
body{
	margin: 0;
	padding: 0;
	font-family: "Helvetica", sans-serif, "Arial";
	font-size: 12px;
	color: #484848;
	background-color: #EEE;
}
.clearfix:after, ui-helper-clearfix:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix, .ui-helper-clearfix{
	display: inline-block;
}
html[xmlns] .clearfix, html[xmlns] .ui-helper-clearfix{
	display: block;
}
* html .clearfix, * html .ui-helper-clearfix {
	height: 1%;
}
form{
	display: inline;
}
.logininstruction{
	width: 362px;
	margin: 20px auto 0 auto;
	padding: 0 0 0 10px;
	font-weight: bold;
}
.loginerror{
	width: 362px;
	margin: auto;
	padding: 0 0 0 10px;
	font-size: 11px;
	color: #FF0000;
}
.logincontainer{
	position: relative;
	background: url( ../../images/auth/auth-login.gif ) no-repeat #EEE;
	width: 362px;
	height: 226px;
	margin: 10px auto;
}
.formarea{
	position: absolute;
	top: 20px;
	left: 25px;
	width: 200px;
}
.formarea div{
	margin: 7px 0;
}
.formarea div.signin{
	margin: 18px 0;
}
.formarea label{
	font-weight: bold;
}
.formarea input[type=text], .formarea input[type=password] {
	width: 200px;
}
.formarea input[type=checkbox]{
	vertical-align: -2px;
}
.formarea input[type=submit]{
	width: 100px;
	padding: 3px;
}
.languagecontainer{
	font-weight: bold;
  margin: auto;
	padding: 0;
	font-size: 1px;
  width: 362px;
	position: relative;
}
.languagecontainer form{
	position: absolute;
	right: 10px;
	top: -5px;
}