<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^play/([a-zA-Z0-9.]+|all)$" ignoreCase="false" />
                    <action type="Rewrite" url="proxy_play.php?unique_song_id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^client_dev.php/play/([a-zA-Z0-9]+|all)$" ignoreCase="false" />
                    <action type="Rewrite" url="proxy_play.php?unique_song_id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^art/([a-zA-Z0-9]+|all)/([a-zA-Z0-9]+|all)$" ignoreCase="false" />
                    <action type="Rewrite" url="proxy_art.php?hash={R:1}&amp;size={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^client_dev.php/art/([a-zA-Z0-9]+|all)/([a-zA-Z0-9]+|all)$" ignoreCase="false" />
                    <action type="Rewrite" url="proxy_art.php?hash={R:1}&amp;size={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url=".*" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="\..+$" ignoreCase="false" />
                        <add input="{URL}" pattern="\.html$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^$" ignoreCase="false" />
                    <action type="Rewrite" url="index.html" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^([^.]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="{R:1}.html" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>